@page "/Settings"

<PageTitle>Settings</PageTitle>

<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-tab-pane" type="button" role="tab" aria-controls="details-tab-pane" aria-selected="true">Account</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Status-tab" data-bs-toggle="tab" data-bs-target="#Status-tab-pane" type="button" role="tab" aria-controls="Status-tab-pane" aria-selected="false">Status</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Role-tab" data-bs-toggle="tab" data-bs-target="#Role-tab-pane" type="button" role="tab" aria-controls="Role-tab-pane" aria-selected="false">Permissions</button>
        </li>
    </ul>
    <div class="py-2 bg-white tab-content border-start border-bottom rounded-bottom border-end mt--1" id="myTabContent">
        <div class="tab-pane fade show active " id="details-tab-pane" role="tabpanel" aria-labelledby="details-tab" tabindex="0">
                <Profile UserId="@userID" />
        </div>
        <div class="tab-pane fade" id="Status-tab-pane" role="tabpanel" aria-labelledby="Status-tab" tabindex="0">
            <Statuses/>
          
        </div>
        <div class="tab-pane fade" id="Role-tab-pane" role="tabpanel" aria-labelledby="Role-tab" tabindex="0">
            
        </div>
        </div>
    </div>

@code {
    string userID = string.Empty;
    private List<StatusDTO>? allStatuses;
    [SupplyParameterFromForm]
    public StatusDTO? Status { get; set; } = new();
    private bool isSaving = false;
    bool isEditMode = false;
    string submitMessage = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var id = await JSRuntime.InvokeAsync<string?>("localStorage.getItem", "UserId");
        var userId = id;
    }

    protected override async Task OnInitializedAsync()
    {
        var id = await JSRuntime.InvokeAsync<string?>("localStorage.getItem", "UserId");
        allStatuses = await StatusService.GetStatusAsync();
        var userId = id;
    }

    private async Task HandleSubmission()
    {
        // await SaveStatusAsync();
    }
}
